.doc-feedback-container {
  font-family: "GothicA1";
  padding: 15px 50px;
}

/* 제목 + 설명 */
.doc-feedback-header {
  margin-bottom: 30px;
}
.doc-feedback-header h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
.doc-feedback-header p {
  color: #555;
  font-size: 13px;
}

/* 좌우 박스 */
.doc-feedback-boxes {
  display: flex;
  gap: 50px;
  justify-content: center;
  max-height: 400px;
}

.input-box,
.output-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

textarea {
  flex: 1;
  min-height: 300px;
  border: 2px solid #a0a3d9;
  border-radius: 12px;
  padding: 23px;
  resize: none;
  font-size: 15px;
  outline: none;
  font-family: "GothicA1ExtraLight";
}

textarea:focus {
  border-color: #5d6dbe;
}

/* 글자 수 + 버튼 가로 배치 */
.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 글자 수 */
.char-count {
  margin-top: 18px;
  font-size: 12px;
  color: #555;
}

/* 점검 버튼 */
.check-btn {
  margin-top: 12px;
  padding: 15px 25px;
  background-color: #5d6dbe;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
  transition: background 0.2s;
}

.check-btn:hover {
  background-color: #a0a3d9;
}
