/* Payment.css */
.doc-feedback-container {
  font-family: "GothicA1";
  padding: 15px 50px;
}

.doc-feedback-header {
  margin-bottom: 20px;
}
.doc-feedback-header h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
.doc-feedback-header p {
  color: #555;
  font-size: 13px;
}

.booking-info {
  margin-bottom: 25px;
  margin-left: 50px;
}
.booking-info p {
  font-size: 17px;
  margin: 10px 0;
  color: #3d456d;
  font-weight: bold;
}

.ticket-options {
  display: flex;
  gap: 45px;
  margin: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.ticket-card {
  border: 3px solid #ddd;
  padding: 22px 30px;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  transition: all 0.2s;
}
.ticket-card:hover {
  border: 3px solid;
  transition: all 0.1s;
  border-color: #5d6dbe;
}
.ticket-card.selected {
  border: 4px solid #5d6dbe;
  box-shadow: 0 2px 6px rgba(93, 109, 190, 0.2);
}

p .ticket-card h3,
.originalprice,
.ticket-card .price {
  margin: 0;
  line-height: 1.6;
}

.ticket-card h3 {
  margin-bottom: 8px;
  font-size: 20px;
}

.originalprice {
  color: #999;
  text-decoration: line-through;
  font-size: 18px;
}
.ticket-card .price {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.ticket-card .discount {
  color: #f15a29;
  font-size: 15px;
  margin-left: 5px;
}
.ticket-card .validity {
  font-size: 12.5px;
  color: #555;
}

.pay-button {
  width: 120px;
  margin-top: 40px;
  padding: 15px 20px;
  background-color: #5d6dbe;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
  display: block;
  margin-left: auto;
  margin-right: 50px;
  font-size: 16px;
}
.pay-button:hover {
  background: #4a56a1;
}

.payment-complete {
  padding: 15px 10px;
  background: #e0f7e9;
  border: 1px solid #5dc87d;
  color: #2f8f54;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}
